.screens {
    position: relative;

    .screen {
        z-index: 999;
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}