.curves {
    position: absolute;
    top: 0px;
    width: 1400px;
    opacity: 0.8;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    pointer-events: none;

    img {
        position: absolute;
        height: 100%;
        width: auto;

    }



    &-curve {
        &-1 {
            left: -5%;
        }

        &-2 {
            left: -10%;
        }

        &-3 {
            left: 68%;
        }
    }

    .small-delay {
        animation-delay: 0.5s;
    }
}