.cantina {
    &-title {
        font-size: 60px;
        font-weight: 500;
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
    }

    .gradiant-text {

        * {
            background: -webkit-linear-gradient(0deg, #FFAB2E 0%, #FFFFFF 60%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}